$num: 2;
@import 'partials/colors';
@import 'partials/navmenu';
@import 'partials/mixins';
@import 'partials/loops';


#main-container {
   width:100%;
   background-color: $color1;
   .dev-section{
     width:70%;
     margin:auto;
     height:200px;
   }
   #top-section{
     background-color: $color2;
   }
   #middle-section{
     background-color: $color3;
   }
   #lower-section{
     background-color: $color4;
   }
   .box-red {
     @include boxStyles(100px, 100px, red);
   }
   .box-yellow {
     @include boxStyles(100px, 100px, yellow);
   }
}

%footer {
  width:100%;
  height:100px;
  background-color: $color5;
}

#main-footer{
  @extend %footer;
}

.extend-class{
  border: 5px solid black;
}


p{
  @if $num == 2 {
    font-size: 2em;
  }
}
