@mixin boxStyles ($boxHeight, $boxWidth, $boxColor) {
  border: 1px solid black;
  height: $boxHeight;
  width: $boxWidth;
  background-color: $boxColor;
}

@mixin breakPoint {
  @media (max-width: 450px) {

  }
}

@mixin top-lefty ($topValue, $leftValue) {
  position: absolute;
  top: $topValue;
  left: $leftValue;
}
